<mat-card class="about-card">
  <mat-card-header>
    <mat-card-title>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="about-text">Hi, I am a Software Engineer. Looking to share and receive coding and life tips</p>
  </mat-card-content>
  <mat-card-actions class="about-actions">
    <a class="about-link" mat-button href="assets/cuong-resume.pdf" target="_blank">Resume</a>
    <a class="about-link" mat-button href="https://www.linkedin.com/in/cuong-nguyen-20701134/" target="_blank">LinkedIn</a>
    <a class="about-link" mat-button href="https://github.com/CuongDNguyen" target="_blank">GitHub</a>
    <a class="about-link" mat-button href="https://twitter.com/riseCuongNguyen" target="_blank">Twitter</a>
  </mat-card-actions>
</mat-card>
